<h1><%= @wiki.title %></h1>

<div class= "wiki_content">
  <%= @wiki.content %>

</div>
<p class="edit"><a href="/wiki/<%= @wiki.id %>/edit">edit this post</a></p>
<!-- <p><a href="/wiki/<%= @wiki.id %>/edit"</a></p> -->


